@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";
@import "mixins/utils";

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--button-default-background-color;
  border: $--border-base;
  border-color: $--button-default-border-color;
  color: $--button-default-font-color;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--button-font-weight;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0485635);

  @include utils-user-select(none);
  & + & {
    margin-left: 10px;
  }

  @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

  &:hover,
  &:focus {
    // color: $--color-primary;
    border-color: $--border-color-hover;
    // background-color: $--color-primary-light-9;
  }

  &:active {
    // color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: $--border-color-hover;
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="el-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  @include when(plain) {
    &:hover,
    &:focus {
    //   background: $--color-white;
      border-color: $--border-color-hover;
    //   color: $--color-primary;
    }

    &:active {
    //   background: $--color-white;
      border-color: $--border-color-hover;
    //   color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      outline: none;
    }
  }

  @include when(active) {
    // color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: $--border-color-hover;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $--button-disabled-font-color;
      cursor: not-allowed;
      background-image: none;
      background-color: $--button-disabled-background-color;
      border-color: $--button-disabled-border-color;
    }

    &.el-button--text {
      background-color: transparent;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        background-color: $--button-disabled-background-color;
        border-color: $--button-disabled-border-color;
        color: $--button-disabled-font-color;
      }
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255,255,255,.35);
    }
  }
  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;
  }
  @include when(circle) {
    border-radius: 50%;
    padding: $--button-padding-vertical;
  }
  @include m(primary) {
    @include button-variant($--button-primary-font-color, $--button-primary-background-color, $--button-primary-border-color);
  }
//   @include m(secondary) {
//     @include button-variant($--button-secondary-font-color, $--button-secondary-background-color, $--button-secondary-border-color);
//   }
//   @include m(success) {
//     @include button-variant($--button-success-font-color, $--button-success-background-color, $--button-success-border-color);
//   }
  @include m(warning) {
    @include button-variant($--button-warning-font-color, $--button-warning-background-color, $--button-warning-border-color);
  }
  @include m(danger) {
    @include button-variant($--button-danger-font-color, $--button-danger-background-color, $--button-danger-border-color);
  }
  @include m(info) {
    @include button-variant($--button-info-font-color, $--button-info-background-color, $--button-info-border-color);
  }
  @include m(medium) {
    @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);
    @include when(circle) {
      padding: $--button-medium-padding-vertical;
    }
  }
  @include m(small) {
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);
    @include when(circle) {
      padding: $--button-small-padding-vertical;
    }
  }
  @include m(mini) {
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius);
    @include when(circle) {
      padding: $--button-mini-padding-vertical;
    }
  }
  @include m(success) {
    color: $--button-success-font-color;
    background-color: $--button-success-background-color;
    border-color: $--button-success-border-color;

    &:hover,
    &:focus {
      background: $--button-success-hover-color;
      border-color: $--button-success-hover-color;
      color: $--button-success-font-color;
    }

    &:active {
      background: $--button-success-hover-color;
      border-color: $--button-success-hover-color;
      color: $--button-success-font-color;
      outline: none;
    }

    &.is-active {
      background: $--button-success-hover-color;
      border-color: $--button-success-hover-color;
      color: $--button-success-font-color;
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $--color-white;
        background: $--button-success-background-color;
        border-color: $--button-success-border-color;
        opacity: .5;
      }
    }

    &.is-plain {
      @include button-plain($--button-success-background-color);
    }
  }
  @include m(secondary) {
    color: $--button-secondary-font-color;
    background-color: $--button-secondary-background-color;
    border-color: $--button-secondary-border-color;

    &:hover,
    &:focus {
      background: $--button-secondary-hover-color;
      border-color: $--button-secondary-hover-color;
      color: $--button-secondary-font-color;
    }

    &:active {
      background: $--button-secondary-hover-color;
      border-color: $--button-secondary-hover-color;
      color: $--button-secondary-font-color;
      outline: none;
    }

    &.is-active {
      background: $--button-secondary-hover-color;
      border-color: $--button-secondary-hover-color;
      color: $--button-secondary-font-color;
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $--color-white;
        background: $--button-secondary-background-color;
        border-color: $--button-secondary-border-color;
        opacity: .5;
      }
    }

    &.is-plain {
      @include button-plain($--button-secondary-background-color);
    }
  }

  @include m(text) {
    border-color: transparent;
    color: $--button-default-font-color;
    background: transparent;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: none;
    border: none;

    &:hover,
    &:focus {
      color: $--button-default-font-color;
      border-color: $--color-light-blue-100;
      background-color: $--color-light-blue-100;
    }
    &:active {
      color: $--button-default-font-color;
      border-color: $--color-light-blue-100;
      background-color: $--color-light-blue-100;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
      background-color: transparent;
      color: $--color-text-secondary;
    }

    &.el-button--medium {
        font-size: $--font-size-base;
    }
    &.el-button--small {
        font-size: $--font-size-small-medium;
    }
    &.el-button--mini {
        font-size: $--font-size-small;
    }

    @include when(plain) {
        background: transparent;
        box-shadow: none;
        border: none;

        &:hover,
        &:focus {
            color: $--color-blue-100;
            border-color: transparent;
            background-color: transparent;
        }
        &:active {
            color: $--color-blue-100;
            border-color: transparent;
            background-color: transparent;
        }
    }
  }
}

@include b(button-group) {
  @include utils-clearfix;
  display: inline-block;
  vertical-align: middle;

  & > .el-button {
    float: left;
    position: relative;
    & + .el-button {
      margin-left: 0;
    }
    &.is-disabled {
      z-index: 1;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:first-child:last-child {
      border-top-right-radius: $--button-border-radius;
      border-bottom-right-radius: $--button-border-radius;
      border-top-left-radius: $--button-border-radius;
      border-bottom-left-radius: $--button-border-radius;

      &.is-round {
        border-radius: 20px;
      }

      &.is-circle {
        border-radius: 50%;
      }
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    @include when(active) {
      z-index: 1;
    }
  }
  
  & > .el-dropdown {
    & > .el-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: rgba($--color-white, 0.5);
    }
  }

  @each $type in (primary, success, warning, danger, info) {
    .el-button--#{$type} {
      &:first-child {
        border-right-color: rgba($--color-white, 0.5);
      }
      &:last-child {
        border-left-color: rgba($--color-white, 0.5);
      }
      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($--color-white, 0.5);
        border-right-color: rgba($--color-white, 0.5);
      }
    }
  }
}

//Hack only for secondary disabled buttons.
//Using the same mixing logic as is there for background-color in _buttons.scss
.el-button--secondary.is-disabled,
.el-button--secondary.is-disabled:hover,
.el-button--secondary.is-disabled:focus,
.el-button--secondary.is-disabled:active {
    color: mix($--button-default-font-color, $--color-white, 50%);
}
