@import "mixins/mixins";
@import "common/var";

@include b(select-dropdown) {
  @include e(item) {
    font-size: $--select-dropdown-item-default-font-size;
    padding: $--select-dropdown-item-default-padding;
    margin: $--select-dropdown-item-default-margin;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $--select-option-color;
    // height: $--select-option-height;
    line-height: $--select-dropdown-item-default-height;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: $--border-radius-base;
    font-weight: 500;

    @include when(disabled) {
    //   color: $--select-option-disabled-color;
      cursor: not-allowed;
      opacity: .5;

      &:hover {
        // background-color: $--color-white;
      }
    }

    &:not(.is-disabled):not(.selected).hover, &:not(.is-disabled):not(.selected):hover {
      background-color: $--select-option-hover-background;
      color: $--select-option-hover-color;
    }

    &.selected {
      color: $--select-option-selected-font-color;
      background-color: $--select-option-selected-bg-color;
    //   font-weight: bold;
    }
  }
}
