/*
    All countly specific sass variables are in this file
*/

$border-width-base: 1px !default;
$border-style-base: solid !default;

$border-base: $border-width-base $border-style-base $border-color-base !default;